body {
  font-family: "Microsoft YaHei",微软雅黑,'Arial';
  margin: 20px;
}

button {
  outline: none;
}

header, footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1, div {
    color: #333;
  }
  a {
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
}

.container {
  dl {
    margin: 0 0 30px;
    dt {
      display: flex;
      align-items: center;
      height: 3rem;
      line-height: 1rem;
      color: #666;
    }
    dd {
      margin: 0;
      padding: 0;
      display: flex;
      pre {
        border-radius: 4px;
        background: rgba(0, 0, 0, .1);
        margin: 0;
        padding: 20px;
        flex: 1;
        color: #333;
        overflow-x: auto;
      }
    }
  }
  .calendar-wrapper {
    margin-right: 20px;
    width: 320px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 4px;
    overflow: hidden;
    background: #fff;
  }
}

@media screen and (max-width: 640px) {
  .container {
    dl {
      dd {
        display: block;
      }
    }
    .zx-calendar {
      width: 100%;
      margin: 0 0 10px;
    }
  }
}


.calendar-wrapper {
  .test-footer {
    display: flex;
    justify-content: flex-end;
    padding: 0 15px 20px;
    button {
      margin: 0 5px;
      border-radius: 4px;
      border: 1px solid #ccc;
      width: 70px;
      height: 30px;
      cursor: pointer;
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }
      &:last-child {
        background: #f30;
        color: #fff;
        border-color: #f30;
      }
    }
  }
}
