/**
 * Created by Capricorncd.
 * https://github.com/capricorncd
 * Date: 2020-08-08 15:55
 */
.zx-calendar {
  padding: 0 0 10px;
  * {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    box-sizing: border-box;
  }
  .zx-calendar-header-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    .__l, .__r {
      position: absolute;
      top: 0;
      height: 100%;
      display: flex;
      align-items: center;
      button {
        outline: none;
        min-width: 20px;
        transition: box-shadow,transform,opacity .3s cubic-bezier(.4,0,.2,1);
        cursor: pointer;
        border: 0;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.3);
      }
    }
    .__l {
      left: 0;
      justify-content: flex-start;
    }
    .__r {
      right: 0;
      justify-content: flex-end;
    }
    .__title-wrapper {
      display: flex;
      justify-content: center;
      flex: 1;
      margin: 0 2.4rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 1rem;
      font-weight: 800;
      cursor: pointer;
    }
  }
  .zx-calendar-week-wrapper {
    margin: 0 10px;
    display: flex;
    .__item-week {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
    }
  }
  .zx-calendar-body-wrapper {
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    .__item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 14.2857142857%;
      position: relative;
      min-height: 40px;
      cursor: pointer;
      &.is-disabled {
        opacity: 0.5;
        cursor: default;
      }
      &.is-holiday {}
      // today, this month, this year
      &.is-current {
        background: aqua;
      }
      &.is-selected {
        color: #fff;
        background: darkred;
      }
    }
    &.is-month {
      .__item {
        flex: 0 0 33.333333%;
      }
    }
    &.is-year {
      .__item {
        flex: 0 0 25%;
      }
    }
  }
}
