/**
 * Created by Capricorncd.
 * https://github.com/capricorncd
 * Date: 2020-08-08 15:55
 */
.zx-calendar {
  padding: 0 0 10px;
  * {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    box-sizing: border-box;
  }
  .zx-calendar-header-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    .__l, .__r {
      position: absolute;
      top: 0;
      height: 100%;
      display: flex;
      align-items: center;
      button {
        outline: none;
        transition: box-shadow,transform,opacity .2s cubic-bezier(.4,0,.2,1);
        cursor: pointer;
        border: 0;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.7;
        &:before {
          content: '';
          margin-left: -8px;
          width: 0.5rem;
          height: 0.5rem;
          border-top: 2px solid #999;
          border-right: 2px solid #999;
          transform: rotate(45deg);
        }
        &:hover {
          opacity: 1;
        }
      }
    }
    .__l {
      left: 5px;
      justify-content: flex-start;
      button {
        &:before {
          margin-left: 8px;
          transform: rotate(225deg);
        }
      }
    }
    .__r {
      right: 5px;
      justify-content: flex-end;
    }
    .__title-wrapper {
      display: flex;
      justify-content: center;
      flex: 1;
      margin: 0 3rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 1rem;
      font-weight: 800;
      cursor: pointer;
    }
  }
  .zx-calendar-week-wrapper {
    margin: 0 10px;
    display: flex;
    .__item-week {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      font-size: 0.75rem;
      opacity: 0.6;
      height: 1rem;
    }
  }
  .zx-calendar-body-wrapper {
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    .__holiday {
      position: absolute;
      bottom: 2px;
      left: 50%;
      margin-left: -2px;
      width: 4px;
      height: 4px;
      background: rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      overflow: hidden;
      text-indent: -9999px;
    }
    .__item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 14.2857142857%;
      position: relative;
      width: 3rem;
      height: 3rem;
      cursor: pointer;
      .__inner {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 100%;
        .__text {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
        }
        .__suffix {
          font-size: 0.875rem;
        }
      }
      &.is-disabled {
        opacity: 0.5;
        cursor: default;
      }
      &.is-holiday {}
      // today, this month, this year
      &.is-current {
        .__inner {
          .__text {
            background: rgba(0, 0, 0, 0.07);
          }
        }
      }
      &.is-selected {
        .__inner {
          .__text {
            background: #f30;
            color: #fff;
            .__holiday {
              background: #fff;
            }
          }
        }
      }

    }
    &.is-month {
      .__item {
        flex: 0 0 33.333333%;
      }
    }
    &.is-year {
      .__item {
        flex: 0 0 25%;
      }
    }
    // change-item-inner-size
    &.reset-item-inner-size {
      .__inner {
        width: 0;
        height: 100%;
        padding-top: 0;
        padding-left: 100%;
      }
    }
  }
}
